<div class="status">
  <span class="success"><%= t 'generic.status_success' %></span>
  <span class="failed"><%= t 'generic.status_failed' %></span>
</div>

<div style="display:none">
  <div id="template">
    <div class="title"></div>
    <div class="event_type"></div>
    <div class="abstract"></div>
  </div>
</div>

<div class="headline"><%= t 'generic.title' %></div>
<div class="header">
  <div class="rightbox">
    <div title="<%= t 'generic.store_and_submit_changes' %>" class="submit"><%= t 'generic.submit' %></div>
    <div class="info hidden"><span></span></div>
    <div class="explainer">
      <span>
        <ul>
          <li>
            <%= t 'generic.help_us_reduce_the_conflicts' %>
          </li>
          <li>
            <%= t 'generic.click_on_the_talks_you_would_like_to_watch' %>
          </li>
          <li>
            <%= t 'generic.press_submit' %>
          </li>

          <% unless I18n.locale == :en %>
            <li class="locale">
              <%= link_to url_for(request.query_parameters.merge(locale: 'en')), hreflang: 'en' do %>
                <span class="locale">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHzSURBVHjaYkxOP8IAB//+Mfz7w8Dwi4HhP5CcJb/n/7evb16/APL/gRFQDiAAw3JuAgAIBEDQ/iswEERjGzBQLEru97ll0g0+3HvqMn1SpqlqGsZMsZsIe0SICA5gt5a/AGIEarCPtFh+6N/ffwxA9OvP/7//QYwff/6fZahmePeB4dNHhi+fGb59Y4zyvHHmCEAAAW3YDzQYaJJ93a+vX79aVf58//69fvEPlpIfnz59+vDhw7t37968efP3b/SXL59OnjwIEEAsDP+YgY53b2b89++/awvLn98MDi2cVxl+/vl6mituCtBghi9f/v/48e/XL86krj9XzwEEEENy8g6gu22rfn78+NGs5Ofr16+ZC58+fvyYwX8rxOxXr169fPny+fPn1//93bJlBUAAsQADZMEBxj9/GBxb2P/9+S/R8u3vzxuyaX8ZHv3j8/YGms3w8ycQARmi2eE37t4ACCDGR4/uSkrKAS35B3TT////wADOgLOBIaXIyjBlwxKAAGKRXjCB0SOEaeu+/y9fMnz4AHQxCP348R/o+l+//sMZQBNLEvif3AcIIMZbty7Ly6t9ZmXl+fXj/38GoHH/UcGfP79//BBiYHjy9+8/oUkNAAHEwt1V/vI/KBY/QSISFqM/GBg+MzB8A6PfYC5EFiDAABqgW776MP0rAAAAAElFTkSuQmCC">
                </span>
              <% end %>
            </li>
          <% end %>
          <% unless I18n.locale == :bg %>
            <li class="locale">
              <%= link_to url_for(request.query_parameters.merge(locale: 'bg')), hreflang: 'bg' do %>
                <span class="locale">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFgSURBVHjaYvz69SsDEvj37x+ERGbAwZ9//wACiAUoysXFBST///8P0QOm//+HU0jgxYsXAAHEAlP0H5nxHxtgZGQEWgIQQCx3Pt2RYZL5+/8vQobh/z8gBIN/MAhErEwst77dAgggRoZmhjKXskefH/359weIfv/7DUJ/f//6CyR//fr7C8j99QdEyvPKH5x0ECAAhWOQAgAMg7D+/8nWNVMQDwmCvWTessZJ9VWHCIns0yWxc/MF4FgMUgCAYRBmpf9/sDqY2yWEQBbEYcK0ZuKxIY0FGZ98Z/8KFlcAsTAcYZDX/M369tefv3/+/AGSIJf8+fMbxPgDYoC4QOP//JER+XPqIANAALH83M7ALPvn3z2gcSBTQK4AOwRKQhh/fjP8+cuo8reOgQEggFiA0cP0+w+DpCRQDijK8AekE+SuP38YICQQ/f0LQUDFAAHECIznf0iIAZWLJgUEAAEGADzQZYYqa4w6AAAAAElFTkSuQmCC">
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </span>
    </div>
  </div>
  <div class="leftbox">
    <input id="filter" type="text" placeholder="<%= t 'generic.filter_events' %>"/>
    <div class="allboxes">
      <div class="vsmallboxes boxer">size</div><div class="vmediumboxes boxer">Size</div><div class="vlargeboxes boxer">SIZE</div>
      <a class="export-url-a" download="31C3.ics" type="text/calendar" href="#"><div class="export-url hidden">31C3.ics</div></a>
    </div>
  </div>
</div>

<div class="day_1 room-label room1">Saal 1</div><div class="day_1 room-label room2">Saal 2</div><div class="day_1 room-label roomg">Saal G</div><div class="day_1 room-label room6">Saal 6</div>
<div class="day_2 room-label room1 ">Saal 1</div><div class="day_2 room-label room2 ">Saal 2</div><div class="day_2 room-label roomg ">Saal G</div><div class="day_2 room-label room6 ">Saal 6</div>
<div class="day_3 room-label room1 ">Saal 1</div><div class="day_3 room-label room2 ">Saal 2</div><div class="day_3 room-label roomg ">Saal G</div><div class="day_3 room-label room6 ">Saal 6</div>
<div class="day_4 room-label room1 ">Saal 1</div><div class="day_4 room-label room2 ">Saal 2</div><div class="day_4 room-label roomg ">Saal G</div><div class="day_4 room-label room6 ">Saal 6</div>

<div class=" time_1500 duration_3600 guide pause "></div>
<div class=" time_1930 duration_3600 guide pause "></div>
<div class=" time_2030 duration_inf guide ende room1 day_4 "></div>

<div class="wholeday room1 day_1 guide"></div>
<div class="wholeday room1 day_3 guide"></div>

<div class="track" id="57"><h2>Technical</h2><div id="qrcode" class="hidden"></div></div>
<div class="track" id="54"><h2>Advanced Technical</h2></div>
<div class="track" id="55"><h2>OpenBiz</h2></div>
<div class="track" id="53"><h2>Civic Hacking</h2></div>
<div class="track" id="52"><h2>Social</h2></div>
<div class="track" id="56"><h2>Education</h2></div>
