<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Votes</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.id %></td>
        <td><%= talk.event_type.name %></td>
        <td><%= talk.title %></td>
        <td><%= talk.subtitle %></td>
        <td><%= @ratings[talk.id] %></td>
        <td><%= "%.2f%" % Rational(100 * @ratings[talk.id], @votes_count).to_f %></td>
      </tr>
    <% end %>
  </tbody>
</table>
