<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <title><%= t 'generic.title' %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@openfestbg">
    <meta name="twitter:title" content="<%= t 'generic.title' %>">
    <meta name="twitter:description" content="<%= t 'generic.help_us_reduce_the_conflicts' %>">
    <meta name="twitter:image" content="<%= image_url 'openfest-splash.png' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vote.openfest.org/" />
    <meta property="og:title" content="<%= t 'generic.title' %>">
    <meta property="og:image" content="<%= image_url 'openfest-splash.png' %>">

  </head>
  <body class="size-small in-list halfnarp">

    <%= yield %>

  </body>
</html>
